@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

.typography-container {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 60px;
  cursor: pointer;
}

.text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  transition: 1s ease;
  transition-delay: 0.25s;
}

.hover-text {
  position: absolute;
  inset: 0;
  width: 0%;
  color: #0dcaf0; /* Change here */
  overflow: hidden;
  border-right: 6px solid #0dcaf0; /* Change here */
  transition: 1s ease-in-out;
}

.typography-container:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 40px #0dcaf0); /* Change here */
}

.typography-container:hover .text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 1441px) {
  .typography-container {
    font-size: 2rem;
    letter-spacing: 2.4px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 1025px) {
  .typography-container {
    font-size: 1.4rem;
    letter-spacing: 1.6px;
    line-height: 20px;
  }
}

@media (max-width: 769px) {
  .typography-container {
    font-size: 1rem;
    letter-spacing: 1.1px;
    line-height: 20px;
  }
}

@media (max-width: 426px) {
  .typography-container {
    font-size: 1rem;
    top: -40px;
    letter-spacing: 1.1px;
    line-height: 20px;
  }
}

@media (max-width: 376px) {
  .typography-container {
    font-size: 1rem;
    top: -40px;
    letter-spacing: 1.1px;
    line-height: 20px;
  }
}

@media (max-width: 321px) {
  .typography-container {
    font-size: 0.8rem;
    top: -50px;
    left: -15px;
    letter-spacing: 1.1px;
    line-height: 20px;
  }
}