/* ResetPassword.css */

.reset-password-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
  }

  label {
margin:15px;
justify-content: right;
  }
  
  /* Add more styling based on your preferences */
  