.reset-password-container {
  max-width: 400px;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 20px;
  border: 1px solid #e5dada;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #032F40;
  filter: drop-shadow(10px 30px 20px rgba(11, 11, 11, 0.825));
}

.reset-password-container:hover{
  border: 2px solid rgb(3, 211, 248);
  transform: scale(1.01);
}

.reset-password-container h2{
  color: azure;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
}

label {
  
  margin-left: 0px;
  justify-content: right;
  font-weight: 600;
  font-size: 18px;
  color: azure;
}

.reset-password-form input {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.btn btn-outline-success{
  color: #032F40;

}

@media (max-width: 1440px) {
  /* Add class names for 1440px */
}

@media (max-width: 1024px) {
  /* Add class names for 1024px */
}

@media (max-width: 768px) {
  /* Add class names for 768px */
}

@media (max-width: 425px) {
  /* Add class names for 425px */
}

@media (max-width: 375px) {
  /* Add class names for 375px */
}

@media (max-width: 320px) {
  /* Add class names for 320px */
}
